NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=your-public-key
NEXT_PUBLIC_EPAYCO_TEST=true
NEXT_PUBLIC_ZONA_VIP_IDS="6915c724-b4e8-4e06-ad20-2ac6df08b600"
NEXT_PUBLIC_ZONA_PLATA_IDS="7a1ca2b7-57ae-4e1f-bc92-06b5defdba13"
NEXT_PUBLIC_ZONA_BRONCE_IDS="4ca65855-ef7c-47d7-886c-287f0b0e1b12, "5cbbc707-669b-4192-a417-b30dfc92b55a"
