# spec kit
.opencode
.vibe

# Node
node_modules/
dist/
build/
*.log

# Env files
.env
.env.*
!.env.example
!.env.example*

# OS
.DS_Store
Thumbs.db
*.tmp
*.swp

# IDE
.vscode/
.idea/

# Supabase CLI
supabase/.branches
supabase/.temp
